<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Web apps</a></li>
    <li class="disabled">Info</li>
    <li>
      <span class="show-for-sr">Current: </span> You are here!
    </li>
  </ul>
</nav>

<div class="text-center">
  <h1>Look at this awesome page!</h1>
  <h3>Here are some reasons to fill out out our form:</h3>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>Reason #1</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div class="text-center">
      <a href="#" class="button">Learn More</a>
    </div>
  </div>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>Reason #2</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div class="text-center">
      <a href="#" class="button">Learn More</a>
    </div>
  </div>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>Reason #3</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div class="text-center">
      <a href="#" class="button">Learn More</a>
    </div>
  </div>
</div>

<div class="small-3 columns">
  <h3>Resources:</h3>
  <ul class="menu vertical">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>
    <li><a href="#">Link 4</a></li>
  </ul>
</div>

<div class="small-9 columns">
  <h3>The form:</h3>
  <div class="row">
    <div class="small-12 columns">
      <label>Name
        <input type="text" />
      </label>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <label>Favorite fruit
        <input type="text" />
      </label>
    </div>

    <div class="small-12 medium-6 columns">
      <label>Least favorite cheese
        <input type="text" />
      </label>
    </div>
  </div>

  <div class="text-center">
    <input type="submit" value="Submit" class="button">
  </div>
</div>
